.o-5column{ padding: 0 5px;}
.btn {
white-space: normal;
}

/* スマホ横画面用 */
@media screen and (max-width: 780px) {
  .container{
    padding:0;
    margin:0;
  }
  div[class^="col-"] {padding:0;}
  .row {margin:0;}
}
/* スマホ縦画面用 */
@media screen and (max-width: 780px) {
  .container{
    padding:0;
    margin:0;
  }
  div[class^="col-"] {padding:0;}
  .row {margin:0;}
}

.jumbotron {
  background-image: image-url("3568744_m-min.jpg");
  background-size: cover;
}

body {
    background-color: #f0f3f5;
	font-family: 'Roboto';
}
.b-break{
  word-break: break-all;
}

.box {
	background-color: #fff;
	padding: 25px 40px;
	margin-top: 30px; /*Remove, its example*/
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-group {
	margin: 5px 0px;
}

.addon-facebook {
	background-color: #345387;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-facebook,
.btn-facebook:hover {
	background-color: #4b6ea9;
	color: #fff;
	border-radius: 0px 2px 2px 0px;
	font-size: 15px;
}

.addon-twitter {
	background-color: #00c6e9;
	border: none;
	border-radius: 2px 0px 0px 2px;
	color: #fff;
}

.btn-twitter,
.btn-twitter:hover {
	background-color: #00d7fa;
	color: #fff;
	border-radius: 0px;
	font-size: 15px;
}

.btn-primary {
	border-radius: 2px;
	background-color: #23a9f6;
	border-color: #23a9f6;
	margin: 10px 0px;
}

/*p {
	color: #aebbcb;
}

a {
	color: #23a9f6;
}*/

.divider-form {
    border: 1px solid #EBEFF1;
    margin: 15px -40px 10px;
}

label {
	text-transform: uppercase;
	/*color: #bdc7d4;*/
}

strong {
	color: #95a5bb;
}

.notscss.form-control {
    background: none;
    height: 40px;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    color: #8b9eb6;
    padding: 0px;
}

.form-control:focus {
    box-shadow: none;
}

/*続きを読むの実装はここから*/
.grad-btn {
  /*.grad-btnのCSSは表示/非表示の動作には関係ないので、ご自由にどうぞ*/
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 148px;
    margin: auto;
    padding: .5em 0;
    border-radius: 2px;
    background: #009e8f;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
    cursor: pointer;
    transition: .2s ease;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; /*隠した状態の高さ*/
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /*グラデーションで隠す高さ*/
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
  content: "";
}
.grad-trigger {
  display: none; /*チェックボックスは常に非表示*/
}
.grad-trigger:checked + .grad-btn {
  display: none; /*チェックされていたら、grad-btnを非表示にする*/
}
.grad-trigger:checked ~ .grad-item {
  height: auto; /*チェックされていたら、高さを戻す*/
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; /*チェックされていたら、grad-itemのbeforeを非表示にする*/
}

/* フラッシュ ================================ */
.flash {
  padding: 10px 0;
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 64px;
  z-index: 10;
  width: 100%;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}

/*レーティング機能これは商品ページ用*/
.star5_rating{
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC; /* グレーカラー 自由に設定化 */
    /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
    content: '★★★★★';
}

.star5_rating:after{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */

.btn-social-circle {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  width: 50px;
  height: 50px;
  line-height: 30px;
  padding: 5px;
  font-size: 25px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  box-shadow: inset 0 2px 0px rgba(255, 255, 255, 0.25), inset 0 -2px 0px rgba(0, 0, 0, 0.18);
  transition: .2s;
}
.btn-social-circle .fa {
  line-height: 30px;
}
.btn-social-circle:hover {
  box-shadow: none;
}

.btn-social-circle--twitter {
  background: #1da1f3;
  border: solid 5px #1da1f3;
}

.btn-social-circle--facebook {
  background: #3b75d4;
  border: solid 5px #3b75d4;
}

.btn-social-circle--pocket {
  background: #ef4d4d;
  border: solid 5px #ef4d4d;
}

.btn-social-circle--feedly {
  background: #7ece46;
  border: solid 5px #7ece46;
}
